@{
    ViewBag.Title = "HomePage";
}

<style>
    .subSection a {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
</style>

@if (@ViewBag.LogMessage == "admin@localhost")
{
        <h1>@ViewBag.LogMessage</h1>
        <h1>@ViewBag.UserID</h1>
        <div class="mainSection">
            <h2>@Html.Raw(@ViewBag.Message)</h2>
            <div class="subSection">
                <a asp-controller="User" asp-action="ControlPannel" class="nav-link">
                    Administator
                </a>
            </div>
        </div>
}
else if (@ViewBag.LogMessage != null)
{
        <div class="mainSection">
            <h2>@Html.Raw(@ViewBag.Message)</h2>
            <div class="subSection">
                <a asp-controller="Form" asp-action="Form" class="nav-link">
                    Form
                </a>
            </div>
        </div>
}
else if (@ViewBag.LogMessage == null)
{
        <style>
            #customNav {
                background-color: #f5f4e9;
            }

            body,
            html {
                background-color: #f5f4e9;
            }
        </style>

        <div class="mainSection" style="box-shadow: none; margin-top:200px">
            <img src="https://content.dionglobal.in/tcsnewhtml5/images/loader.GIF" alt="load">
        </div>
        <script>
            setTimeout(function () {
                window.location.href = 'https://localhost:5002/Error/NotLoggedIn';
            }, 1000);
        </script>
}
